.comment{
    border: 1px solid black;
    width: 100%;
    margin-bottom: .5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.comment-text{
    margin-left: .5rem;
}

.comment > p{
    overflow-wrap: anywhere;
}