.post{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    margin: .2rem;
    border: 1px solid black;
    width: 95%;
    box-sizing: border-box;
}

.post > *{
    overflow-wrap: anywhere;
}