.post-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.post-container > *{
    color: black;
}

.content{
    width: 350px; /* o cualquier ancho que desees */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
/*asasd*/