.post-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.post > img{
    min-width: 100px;
    min-height: 100px;
    border: 1px solid black;
}